#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a7bfd;
}

#world-map {
    width: 80%;
    height: auto;
}

#world-map .country {
    fill: lightgrey;
    stroke: black;
    stroke-width: 0.5;
    transition: fill 0.3s ease;
}

#world-map .country:hover {
    fill: #1E90FF;
}

#tooltip {
    position: absolute;
    background-color: rgba(242, 12, 219, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    pointer-events: none;
}
